* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #910305;
}

::-webkit-scrollbar-thumb {
  background-color: #fb4278;
}